.banner { 
    position: relative;
    width: 100%;
    height:100vh ;
    display:block;
    margin-bottom:5vh;
    object-fit: cover;
    justify-content:center;
   
}

.banner__modal{
  position:absolute;
    width: 98%;
    height: 85vh;
    margin-left:1%;
    margin-right:0.5%;
    margin-top:6.5vh ;
    margin-bottom:5vh;
    object-fit: cover;
    border:none;
}

.PlayCircleFilledIcon {
  margin-top: 40vh;
  position: absolute;
  margin-left: 50%;
  text-align: center;
  z-index: 999;
  cursor: pointer;
  width:100px;
  height:100px;
  color:#E50914;
   
}
.PlayCircleFilledIcon:hover{
color:black;
transition: 0.5s;
}


.banner__background{
    width: 100%;
    height:100vh ;
    position:absolute;
    object-fit: cover;
    justify-content:center;
    margin-top:0;
    background-size:100% 100%;
    background-image:url("https://image.tmdb.org/t/p/original//tehpKMsls621GT9WUQie2Ft6LmP.jpg");
    background-position:center center;
    opacity:0.3;
    z-index:9;
    
}

.banner__foreground{
    position:absolute;
    width: 98%;
    height: 90vh;
    margin-left:1%;
    margin-right:1%;
    margin-top:6.5vh ;
    margin-bottom:5vh;
    object-fit: cover;
    border-radius:10px;
    background-size:100% 100%;
    background-image:url("https://image.tmdb.org/t/p/original//tehpKMsls621GT9WUQie2Ft6LmP.jpg");
    background-position:center center;
    z-index:99;
}

.banner__info{
    z-index:999;
    position:absolute;
    width:40%;
    height:20vh;
    margin-top:20vh;
    margin-left:2rem;
}

.banner__movieName{
    margin-left: -7rem;
    
}

.banner__buttonBlock{
    margin-top:1rem;
    display :flex;
}
.banner__button{
    padding: 15px 25px;
    margin-right: 5px;
    border-radius: 7px;
    background-color:#E50914;
    border-color: transparent;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.banner__button:hover{
    background-color: rosybrown;
}


.banner__effect{
    z-index: 99;
    position: absolute;
    opacity: 0.12;
    width: 100%;
    height: 100vh;
}




/* Button */
.button-49,
.button-49:after {
  width: 150px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient( transparent 5%, #E50914 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;

  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: "WHAT'S NEXT";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient( transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}



/* MEDIA QUERIES*/

@media (min-width: 769px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
    border-radius: 5px;
  }
}

@media (min-width:769px) and (max-width:1200px){
  .banner { 
    height:50vh ;
  }

  .banner__modal{
    width: 96%;
    height: 45vh;
    margin-left:2%;
    margin-right:1.5%;
    margin-top:27.5vh ;
    margin-bottom:2.5vh;
    
  }
  .PlayCircleFilledIcon {
    margin-top: 20vh;
    width:80px;
    height:80px;
    
  }

  .banner__background{
      height:50vh ;
  }

  .banner__foreground{
      width: 96%;
      height: 45vh;
      margin-left:2%;
      margin-right:2%;
      margin-top:3.25vh ;
      margin-bottom:2.5vh;

  }

  .banner__info{
    
      width:20%;
      height:10vh;
      margin-top:10vh;
      margin-left:1rem;
  }

  .banner__movieName{
    margin-left: -4.5rem;
    height: 200px;
      
  }

  .banner__buttonBlock{
      margin-top:0.5rem;
    
  }

  .button-49,
  .button-49:after {
    width: 150px;
    height: 67px;
    line-height: 66px;
    border-radius: 5px;
  }

  .banner__effect{
      
      height: 50vh;
  }
}
@media (max-width: 768px){ 
  .banner{
      display: none;
  }
}


